		h1{font-family:Palatino, serif; font-size:60px}
                .zappy {color:yellow font-family:Lucida, sans-serif; font-size:16px;}
		.wow {color:aqua}
		.yoo{background-color:Grey}
		body{background-color:black; color:white }
